<form class='flexcol'>
  <div>
    <p>Select which categories should be available. You need to select at least 1 category. You can drag to re-arrange
      the order.</p>
    <div class='item-list'>
      {{#each categories}}
        <div class='item'>
          <input type='checkbox' value='{{id}}' data-dtype='String' name='categories' {{checked enabled}} />
          <div class='category-details'>
            <div class='label'>
              {{{label}}}
            </div>
            <div class='description'>
              {{{description}}}
              {{#if info}}<i class='fa fa-circle-info' data-tooltip='{{info}}'></i>{{/if}}
            </div>
          </div>
          <i class='fa fa-grip-dots-vertical'></i>
        </div>
      {{/each}}
    </div>
  </div>
  <footer class='sheet-footer flexrow'>
    <button type='submit' name='submit'>
      <i class='fa fa-save'></i>
      Save Categories
    </button>
  </footer>
</form>
