<div class="form-status">
  {{! This doesn't have to be interactive. Changing a setting will trigger a re-render }}
  {{#if (eq @root.chatVisibility "DISABLED")}}
    <div class="status-value status-value-muted" data-tooltip="{{@root.translations.chatVisibility.silent.tooltip}}">
      <i class="fa-solid fa-bell-slash"></i> {{@root.translations.chatVisibility.silent.label}}
    </div>
  {{/if}}
  {{#if (eq @root.chatVisibility "GM_ONLY")}}
    <div class="status-value" data-tooltip="{{@root.translations.chatVisibility.gmOnly.tooltip}}">
      <i class="fa-solid fa-user-secret"></i> {{@root.translations.chatVisibility.gmOnly.label}}
    </div>
  {{/if}}
  {{#if (eq @root.chatVisibility "PUBLIC")}}
    <div class="status-value" data-tooltip="{{@root.translations.chatVisibility.public.tooltip}}">
      <i class="fa-solid fa-globe"></i> {{@root.translations.chatVisibility.public.label}}
    </div>
  {{/if}}
  <div class="status-value" data-id="candidates-status-value"></div>
</div>
